.footer {
  @extend .text-small;
}

.footer__links {
  @extend .r-grid;
  @include clear-floats;
  margin: 0 0 spacing(3);

  a {
    @extend .anchor-4;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  .r-grid__unit.unit-3of12 {
    width: 24.9%;
  }

}

.footer__copyright {
  @include clear-floats;
  color: $grey-dark;
}

.footer__copyright-text,
.footer__copyright-links {
  width: 50%;
}

.footer__copyright-links {
  @include clear-floats;
}
